markup-languages/bloc4-xml/xml-xsd-validation/camiseta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="camiseta"> <!-- Element arrel -->
    <xs:complexType>
      <xs:all>  <!-- Validador dels elements llistats per a que sigui en qualsevol ordre-->
      <!-- Aquí apareixen els elements possibles. Els dos primers els he girat respecte el xml de prova per validar-ho totalment -->
        <xs:element name="color" type="xs:string"/>
        <xs:element name="talla" type="xs:string"/>
        <xs:element name="preu" type="xs:integer"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>